<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="C7301112368C0CA0CDC5C88CA0304B2B" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
          <img src='./images/business-ideas.jpg'  class ="col-md-5"/>
          <div class="col-md-7">
            <article class ="col-md-12">
                    <h1 class="font-italic" class="font-weigh-bold">Developer Ideas</h1>
                    <p class="text-secondary" class="font-italic">This is a great space for developers to collaborate on their ideas.
                    This portal is to help the experienced developers as well as aspiring developers to 
                    voice out their bigger ideas on cutting edge technologies like reactjs, angularjs, nodejs.
                    This space is also to share thoughts on great design patterns.
                    We share about data structures , data models to make a web application flexible.
                    We also talk on scalability issues and how to overcome them with better System design.
                    </p>
            </article>
            <div class="row">
                    <div class ="col-md-4">
                       </div>
                       <div class ="col-md-4">  
                       </div>
                       <div class ="col-md-4">
                            <h2 class="col-md-12">Author</h2>  
                            <img src='./images/founder.jpg' class="col-md-12"/>
                            <h6 class="col-md-12 font-italic font-weigh-bold">Karthik Kamarthi</h6>
                            <h6 class="col-md-12 font-italic">Software Engineer</h6>
                       </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>